<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloud Computing Project 1</title>
</head>
<body>
<h1>Hello cloud computing class!</h1>
<h1 style="color:red">{{ msg }}</h1> <!-- Shows an error message if needed -->

<a href="/register">Register an account</a><br>
<a href="/login">Login</a>

<hr>

<h1>Extra credit - Limerick File Processing</h1>
<form method="post" enctype="multipart/form-data" action="/limerick">
    <input type="file" name="file">
    <input type="submit">
</form>


</body>
</html>