<h1>Register an account</h1>
<form action="register_endpoint" method="post">
    <h1 style="color:red">{{ msg }}</h1> <!-- Shows an error message if needed -->

    <label for="username">Username</label>
    <input type="text" name="username">
    <br>

    <label for="password">Password</label>

    <input type="password" name="password">

    <br>

    <label for="first_name">First Name</label>
    <input type="text" name="first_name">
    <br>

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name">
    <br>

    <label for="email">Email</label>
    <input type="text" name="email">
    <br>

    <button type="submit">Submit</button>
</form>
